<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>ChoreConnect</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
  <!-- CSS Files -->
  <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}" />
  <!-- <link href="../assets/css/light-bootstrap-dashboard.css?v=2.0.1" rel="stylesheet" /> -->
  <link rel="stylesheet" href="{{=URL('static','css/light-bootstrap-dashboard.css')}}" />


</head>

<body>
  <div class="wrapper">
    <div class="sidebar" data-color="red" data-image="{{=URL('static','images/sidebar-5.jpg')}}">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="" class="simple-text">
            ChoreConnect
          </a>
        </div>
        <ul class="nav">
          <li>
            <a class="nav-link" href="{{=URL('dashboard')}}">
              <i class="fa fa-clock-o"></i>
              <p> Pending Chores</p>
            </a>
          </li>
          <li>
            <a class="nav-link" href="{{=URL('viewFinishedChores')}}">
              <i class="fa fa-check-circle-o"></i>
              <p> Finished Chores</p>
            </a>
          </li>
          <li>
            <a class="nav-link" href="{{=URL('addChore')}}">
              <i class="fa fa-user-plus"></i>
              <p>Add New Chore</p>
            </a>
          </li>

        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg " color-on-scroll="500">
        <div class=" container-fluid  ">
          <a class="navbar-brand" href=""> </a>
          <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar burger-lines"></span>
            <span class="navbar-toggler-bar burger-lines"></span>
            <span class="navbar-toggler-bar burger-lines"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            {{if 'auth' in globals():}}
            <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
              <li class="nav-item ">
                <a class="nav-link" href="#">
                  Hi,{{if auth.user:}}{{=auth.user.first_name}}{{else:}}LOGIN{{pass}}
                </a>
              </li>
              <li class="nav-item">
                {{if auth.user:}}
                <a class="nav-link" href="{{=URL('userProfile')}}">{{=T('Profile')}}</a>
                {{pass}}
              </li>
              <li class="nav-item">
                {{if 'change_password' not in auth.settings.actions_disabled:}}
                <a class="nav-link" href="{{=URL('change_password')}}">{{=T('Change Password')}}</a>
                {{pass}}
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{=URL('logout')}}">{{=T('Logout')}}</a>
              </li>
              <li class="nav-item">

              </li>
              <li class="nav-item">

              </li>
            </ul>
            {{pass}}
          </div>

        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col"></div>
            <div class="col-md-10">
              {{include}}
            </div>
            <div class="col"></div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">

        </div>
      </footer>
    </div>
  </div>
  <!--   -->

</body>
<!--   Core JS Files   -->
<script src="{{=URL('static','js/jquery.3.2.1.min.js')}}"></script>
<script src="{{=URL('static','js/popper.min.js')}}"></script>
<script src="{{=URL('static','js/bootstrap.min.js')}}"></script>


</html>
